
@font-face {
    font-family: DS-Digital;
    src: url('common/fonts/DS-Digital.ttf');	
}

body#setup {
	padding-top: 50px;	
}

body#scores {
	padding-top: 50px;
	background: black;
}

.scores {
	/*padding: 40px 15px;*/
	text-align: center
}

.score {
    font-family: "DS-Digital";
}

/* For debugging */
/*
body {
	border: 5px solid yellow;
}

.scores {
	border: 1px solid blue;
}

.col-xs-6 {
	border: 1px solid red;
}
*/
