/**
 * Main ScoreBored stylesheet
 * Covers basic page elements for application
 */

body,
.match-log-modal .modal-content {
    background-color: #76A5AF;
    color: #EEEEEE;
}

#score_header {
    color: #CCCCCC;
    padding-left: 40px;
    border-radius: 0px;
}

#score_content {
    min-height: 300px;
    color: #333333;
}

.score-game-select {
    margin-top: 40px;
}

#score_footer {
    padding-top: 40px;
    padding-bottom: 30px;
    margin-top: 100px;
    text-align: center;
    border-top: 1px solid #e5e5e5;
}

.score-copyright {
    text-align: center;
}

.score-select-game-link {
    height: 360px;
    color: #333333;
    text-decoration: none;
}
.score-select-game-link:hover {
    color: #555555;
    text-decoration: none;
}

.score-select-game-icon {
    height: 100%;
    width: 100%;
}

.score-logo {
    width: 150px;
}

.match-log-modal .modal-header {
    background-color: #76757F;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.match-log-modal .modal-body {
    height: 400px;
    overflow-y: scroll;
}

.round {
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
}
