/**
 * CSS for Ping-Pong scoreboard
 */

@font-face {
  font-family: 'DS-Digital';
  /* link.prod */ /* src: url('common/fonts/DS-Digital.ttf'); */
  /* link.dev */ src: url('../../common/fonts/DS-Digital.ttf');
}

.score-pong-toolbar {
    min-height: 24px;
}
.score-pong-open-settings { margin-left: 24px; }
.score-match-clock-wrapper { margin-right: 24px; color: #FFFFFF; }
.score-match-clock-wrapper strong { color: #DDDDDD; }

.score-pong-settings {
    margin-top: 40px;
}

.score-pong-settings .cancel-settings {
    color: #999999;
}
.score-pong-settings .cancel-settings:hover {
    color: #333333;
}

.team-name {
    width: 60%;
    margin: 10px auto;
    /*cursor: pointer;*/
}

.team-name,
.team-score-block {
    width: 50%;
    float: left;
}

.scoreboard-back {
    background: #333333;
    /* RGBa fallback */
    background: rgb(0, 0, 0);
    /* RGBa with 0.6 opacity */
    background: rgba(0, 0, 0, 0.9);
    filters:alpha(opacity=90);  /* IE8 and earlier */
    margin: 0 5%;
    color: #FFFFFF;
}

.team-name-block {
    background: transparent;
}

.team-score {
    width: 80%;
    margin: 0 auto;
    background: #000000;
    font-weight: 800;
    -webkit-transform-origin: 0% 100%;
    -moz-transform-origin: 0% 100%;
    -o-transform-origin: 0% 100%;
    -transform-origin: 0% 100%;
    white-space: nowrap;
    font-family: 'DS-Digital';
}
.match-log-modal .team-score {
    font-size: 3em;
}
.match-log-modal .team-score-block {
    width: 25%;
}

.score-actions { text-align: center; }
.score-actions button {
    padding: 0.5em;
    margin: 1.5em 0;
    border: 0;
    color: #FFFFFF;
    font-weight: bold;
}

.score-match-count {
    margin: 18px auto 0;
    color: #FFFFFF;
    line-height: 36px;
    font-weight: bold;
    width: 250px;
}

.score-game-label {
    font-size: 1.2em;
    color: #666666;
    margin-left: 12px;
}
.score-game-label.current-game {
    color: #FFFFFF;
    font-size: 1.5em;
    cursor: pointer;
}
.score-game-label.completed-game {
    color: #009900;
    cursor: pointer;
}
